@layer base {
  body {
    @apply text-light-text bg-white;
  }

  html,
  body,
  #__next {
    @apply h-full text-light-text;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-margin-block-start: 110px;
    scroll-margin-block-end: 110px;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .height-screen {
    height: calc(100vh - 60px);
  }

  .min-height-screen {
    min-height: calc(100vh - 60px);
  }
}
