.swiper-carousel {
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;

  .swiper-slide {
    width: 512px;
    height: 424px;
    @apply rounded-lg shadow-lg bg-gray-100;
    max-width: calc(100% - 96px);
    @media (max-width: 640px) {
      height: 324px;
    }
  }

  .swiper-carousel-animate-opacity {
    height: 100%;
  }
  .swiper-pagination-bullets {
    bottom: 0;
  }

  // Hide navigation on narrow screens
}
@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
