@tailwind base;
@tailwind components;
@tailwind utilities;

@import "base";

// html,
// body {
//   overflow-x: hidden;
//   padding: 0;
//   margin: 0;
//   color: #212529;
// }
body {
  // overflow: overlay;

  &[is-modal-open="1"] {
    overflow: hidden;
    height: 100vh;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
