@tailwind base;
@tailwind components;
@tailwind utilities;

@import "base";

// html,
// body {
//   overflow-x: hidden;
//   padding: 0;
//   margin: 0;
//   color: #212529;
// }
body {
  overflow: overlay;

  &[is-modal-open="1"] {
    overflow: hidden;
    height: 100vh;
  }
}

/*
 * Scrollbar
*/
// ::-webkit-scrollbar {
//   width: 10px;
// }

// ::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// ::-webkit-scrollbar-corner {
//   background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 8px;
//   border: 2px solid rgba(0, 0, 0, 0);
//   background-color: rgba(221, 221, 236, 0.8);
//   background-clip: padding-box;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background-color: rgba(221, 221, 236, 1);
// }
